@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&family=Rubik:wght@500&display=swap");


* {
  box-sizing: border-box;
}

body {
  background-color: #c5c4c4;
  background-image: linear-gradient(335deg, #cbcbcb 23px, transparent 23px),
    linear-gradient(155deg, #cbcbcb 23px, transparent 23px),
    linear-gradient(335deg, #cbcbcb 23px, transparent 23px),
    linear-gradient(155deg, #cbcbcb 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

p {
  margin: 2%;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

.p1 {
  font-family: "Roboto Mono", monospace;
}

.subtitle {
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 95%;
  width: 100%;
  margin: 2%;
}

.p2 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

h3 {
  margin: 2%;
  margin-left: -1%;
  text-align: center;
  width: 100%;
  font-family: "Rubik", sans-serif;
}


.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
