.candy-board {
  display: flex;
  padding: 2%;
  margin-left: 12%;
  background-color: white;
  border: 5px solid black;
  border-radius: 5px;
  max-width: 70%;
}

.candy-game {
  max-width: 66%;
  min-height: 66%;
  display: flex;
  flex-wrap: wrap;
}

.candy-game img {
  width: 4.5vw;
  height: 4.5vw;
}

.score-board {
  text-align: center;
}
