.candy-board {
  display: flex;
  padding: 30px;
  margin-left: 12%;
  border: 10px solid black;
  width: 70%;
  background-color: white;
}

.candy-game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.candy-game img {
  width: 70px;
  height: 70px;
}

.score-board {
  text-align: center;
}
