.candy-board {
  display: flex;
  padding: 30px;
  margin-left: 12%;
  background-color: white;
  border: 5px solid black;
  border-radius: 5px;
  max-width: 70%;
}

.candy-game {
  max-width: 560px;
  min-height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.candy-game img {
  width: 70px;
  height: 70px;
  display: flex;
}

.score-board {
  text-align: center;
}
