#loginBtn {
  background-color: #4c78a0;
  align-self: center;
}

.box-container {
    border-radius: 0.5rem;
    -webkit-box-shadow: 8px 7px 21px 6px rgba(186, 188, 190, 0.29);
    box-shadow: 8px 7px 21px 6px rgba(174, 176, 177, 0.29);
}

#loginContainer {
  border-radius: 0.5rem;
  -webkit-box-shadow: 8px 7px 21px 6px rgba(186, 188, 190, 0.29);
  box-shadow: 8px 7px 21px 6px rgba(174, 176, 177, 0.29);
}

form > * {
  padding: 0.3rem;
}

form {
  display: flex;
  flex-direction: column;
}
