
.c-search-pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 0 !important;
  margin: 0!;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
}

.pet-img:hover {
  cursor: pointer;
}
